/** Major UI Elements **/
div.GamblingGUI {
    width: 800px;
    height: 600px;
    position: relative;
    border: 1px solid;
    border-color: #444;
    background-color: #222;
}

div.CoffinContainerLeft {
    width: 400px;
    height: 300px;
    float: left;
}

div.CoffinContainerRight {
    width:400px;
    height: 400px;
    float: left;
    background-image: [img[img_wood_panel]];
}

#cofUItray {
    width: 770px;
    height: 180px;
    float: left;
    padding: 5px;
    margin-left: 10px;
    margin-bottom: 5px;
    margin-top: 5px;
    background-color: #111;
    overflow-y: scroll;
    overflow-x: none;
}



/** Gameplay UI containers **/
#CoffinDiceContainer {
    width: 400px;
    overflow: hidden;
    height: 300px;
    position: absolute;
    top: 0px;
    left: 0px;
    display: none;
    background-color: #111;
}

#RoundContainer {
    position: absolute;
    left: 5px;
    top: 250px;
    color: gold;
}

#GamesPlayedContainer {
    position: absolute;
    left: 240px;
    top: 5px;
    color: gold;
}
/** Betting Container **/
#CoffinBetContainer {
    width: 400px;
    overflow: hidden;
    height: 300px;
    top: 0px;
    left: 0px;
    background-color: #111;
    display: none;
}

div.assBetIcon {
    background-image: [img[ass_icon]];
}

div.bjBetIcon {
    background-image: [img[bj_icon]];
}

div.handBetIcon {
    background-image: [img[hand_icon]];
}

div.titBetIcon {
    background-image: [img[tits_icon]];
}

div.coinBetIcon {
    background-image: [img[coins_icon]];
    line-height: 64px;
    color: DeepPink;
    font-weight: bold;
    text-align: center;
    font-size: 32px;
}

div.itemBetIcon {
    background-image: [img[item_icon]];
}

#coffinPirateSelect {
    width: 380px;
    height: 40px;
    line-height: 40px;
    position: relative;
}

#cmdPrevBet {
    position: absolute;
    top: 5px;
    left: 5px;
}

#cmdNextBet {
    position: absolute;
    top: 5px;
    right: 5px;
}

#CoffinNPCName {
    position: absolute;
    top: 9px;
    right: 50px;
    display: inline-block;
    width: 280px;
    height: 32px;
    text-align: center;
    font-weight: bold;
    background-color: dimgray;

}

#CoffinBet1 {
    position: absolute;
    left: 4px;
    top: 45px;
    width: 388px;
    height: 116px;
    border: solid 2px grey;
}

div.disabledGamePanel {
    background:#222;
    line-height: 120px;
    font-size: larger;
    text-align:center;
    opacity: 0.8;
}

div.activeGamePanel {
    cursor: pointer;
}

div.selectedBet {
    border: 2px solid gold;
}

#CoffinBet1Blocker {
    position: absolute;
    left: 5px;
    top: 46px;
    width: 388px;
    height: 116px;
}

#betLabel1 {
    position: absolute;
    left: 4px;
    top: 4px;
    color: antiquewhite;
}

#betLabel1b {
    position: absolute;
    left: 125px;
    top: 4px;
    color: antiquewhite;
}

#betIcon1a {
    position: absolute;
    left: 106px;
    top: 26px;
    border: solid 1px grey;
    height: 64px;
    width: 64px;
}

#betLabel1c {
    position: absolute;
    left: 260px;
    top: 4px;
    color: antiquewhite;
}

#betIcon1b {
    position: absolute;
    left: 242px;
    top: 26px;
    border: solid 1px gold;
    height: 64px;
    width: 64px;
}

#CoffinBet2 {
    position: absolute;
    left: 4px;
    top: 175px;
    width: 388px;
    height: 116px;
    border: solid 2px grey;
}

#CoffinBet2Blocker {
    position: absolute;
    left: 5px;
    top: 176px;
    width: 388px;
    height: 116px;
}

#betLabel2 {
    position: absolute;
    left: 4px;
    top: 4px;
    color: antiquewhite;
}

#betLabel2b {
    position: absolute;
    left: 125px;
    top: 4px;
    color: antiquewhite;
}

#betIcon2a {
    position: absolute;
    left: 106px;
    top: 26px;
    border: solid 1px gold;
    height: 64px;
    width: 64px;
}

#betLabel2c {
    position: absolute;
    left: 260px;
    top: 4px;
    color: antiquewhite;
}

#betIcon2b {
    position: absolute;
    left: 242px;
    top: 26px;
    border: solid 1px gold;
    height: 64px;
    width: 64px;
}

#coffinBoard {
    height: 400px;
    margin-left: 120px;
}

#cofBoxWrapper1 {
    position: absolute;
    left: 450px;
    top: 40px;
    height: 400px;
    width: 42px;
}

#cofBoxWrapper2 {
    position: absolute;
    left: 732px;
    top: 40px;
    height: 400px;
    width: 42px;
}

div.coffinNumBox {
    text-align: center;
    height: 40px;
    width: 40px;
    margin-bottom: 3px;
    line-height: 40px;
}

div.CoffinpointEmpty {
    background: black;
    border: solid 1px gold;
    color: gold;
}

div.CoffinpointMissed {
    background: black;
    border: solid 1px dimgray;
    color: dimgray
}

div.CoffinpointHit {
    background: black;
    border:  solid 1px lime;
    color: gold;
}

#cofPlayerName {
    position: absolute;
    left: 420px;
    top: 4px;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

#cofNPCName {
    position: absolute;
    left: 700px;
    top: 4px;
    width: 100px;
    height: 35px;
    text-align: center;
    line-height: 35px;
}

/** Button Styles **/
div.cofUIButtons {
    width: 390px;
    height: 90px;
    position: absolute;
    top: 300px;
    left:0px;
    background-color: #222;
    padding: 5px;
    line-height: 90px;
    text-align: center;
}

button.cofButton {
    width: 150px;
    margin-right: 10px;
    border: 1px solid black;
}

button.coffinRoundButton {
    border-radius: 50%;
    width: 32px;
    margin: 5px;
}

#betButtons {
    display: none;
}

#playButtons {
    display: none;
}
#endButtons {
    display: none;
}
