div.task-req-any-group {
	text-orientation: sideways;
	color: whitesmoke;
}

div.task-req-group-done {
	background-color: darkgreen;
}

div.task-req-group-undone {
	background-color: darkred;
}

div.task-button-div {
	margin-top: 2ex;

}

button.task-button
{
	margin: 0 1em;
}
