table.vanity-table>thead {
	border-bottom: 1px solid;
}

table.vanity-table th {
	font-weight: normal;
}

table.vanity-table>tfoot {
	border-top: 1px solid;
}

table.vanity-table>tfoot td {
	font-size: smaller;
}
