table.wardrobe-table>thead {
	border-bottom: 1px solid;
}

button.wardrove-desc-cover {
	cursor: pointer;
	width: 100%;
	border: none;
	text-align: left;
	outline: none;
}

button.wardrove-desc-cover:after {
	content: '\25BE';
	font-weight: bold;
	float: right;
	margin-left: 0.1em;
  }

button.wardrove-desc-cover-active::after {
	content: '\25B4';
}

button.wardrove-desc-cover:hover {
}

.wardrove-item-details {
	padding: 0 0.5em;
	margin-top: 0.8ex;
	max-height: 0;
	overflow: hidden;
	transition: max-height 0.2s ease-out;
}

div.wardrove-change-option {
	border-radius: 1px;
	border-bottom: 0;
	border-right: 0;
	border-style: solid;
	padding: 0.5ex;
	margin-bottom: 0.8ex;
}

button.wardrobe, button.disabled-wardrobe {
	width: 5em !important;
	font-size: smaller;
	padding: 4px;
}

button.disabled-wardrobe {
    opacity: 0.6;
    cursor: not-allowed !important;
}

span.wardrobe-option-caption {
	margin-left: 0.5em;
}

div.wardrobe-item-description {
	margin-top: 1ex;
}
